<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
    <div class='wrapper'>
        <form class='loginForm'>
            <h1>Login </h1>
            <mat-form-field class='inputText'>
                <mat-label>Username</mat-label>
                <input type="text" matInput name='username' [(ngModel)]="data.username">
            </mat-form-field>
            <mat-form-field class='inputText'>
                <mat-label>Password</mat-label>
                <input matInput type='password' name='password' [(ngModel)]="data.password">
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data">Login</button>

</mat-dialog-actions>